.box
  %h2.box__title
    人気のカテゴリー
  .box__text
    %ul.box__text__items
      %li.box__text__items__item
        =link_to "", class: "box__text__items__item__category" do
          レディース
      %li.box__text__items__item
        =link_to "", class: "box__text__items__item__category" do
          メンズ
      %li.box__text__items__item
        =link_to "", class: "box__text__items__item__category" do
          家電・スマホ・カメラ
      %li.box__text__items__item
        =link_to "", class: "box__text__items__item__category" do
          おもちゃ・ホビー・グッズ


.box
  %h2.box__title
    人気のブランド
  .box__text
    %ul.box__text__items
      %li.box__text__items__item
        =link_to "", class: "box__text__items__item__category" do
          シャネル
      %li.box__text__items__item
        =link_to "", class: "box__text__items__item__category" do
          ルイヴィトン
      %li.box__text__items__item
        =link_to "", class: "box__text__items__item__category" do
          シュプリーム
      %li.box__text__items__item
        =link_to "", class: "box__text__items__item__category" do
          ナイキ

      
