= render 'edit-header'
.contents-main
  .contents-main__phone
    %h2.contents-main__phone__confirmation
      電話番号の確認
    .contents-main__phone__form
      .contents-main__phone__form__frame--group
        %label 携帯電話の番号
        %input.input-default{type: "tel", name: "phone_number", placeholder: "携帯電話の番号入力"}
      %p 本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
      %button.next-btn{type: "submit"}
        SNSを送信する
      %p ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
      .contents-main__phone__form__text
        %p
          =link_to "", class: "about" do
            電話番号の確認が必要な理由
            = icon 'fas', 'chevron-right'
= render 'sub_footer'