%header
  ヘッダーです！！！
%main
  .logout-contents
    .logout-contents__box
      .logout-contents__box__red
        .logout-contents__box__red__btn
          %button.logout-contents__box__red__btn__submit{type: "submit"}
            ログアウト